html,
body,
#root {
  margin: 0;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}
canvas{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.loader{
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .loader{
    right: 40%;
  }
}